#!/usr/bin/make -f

%:
	dh $@


distribution := $(shell (grep VERSION_CODENAME /etc/os-release | cut -d'=' -f2))
override_dh_install:
	sed -i 's|DEBIAN_DISTRO|$(distribution)|g' sources/*
	dh_install
